<table border="0" cellspacing="10">
  <tr>
    <td>Enter Exam Name</td>
    <td><input type="text" data-ng-model=exam.examName /></td>
  </tr>
  <tr>
    <td>Enter Total Marks</td>
    <td><input type="text" data-ng-model=exam.totalMarks /></td>
  </tr>
  <tr>
    <td>Enter Minimum Marks</td>
    <td><input type="text" data-ng-model=exam.minimumMarks /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><button data-ng-click="save()" >Save</button> </td>
  </tr>
</table>


<br><br>
{{exam}}
